.sidebar-container {
    width: 240px;
    position: fixed;
    top: 56px;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.top-div {
    padding-top: 20px;
}
.icon-container {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.icon-text {
    margin-left: 25px;
}

.sidebar-icon {
    margin-left: 19px;
}

.border {
    margin-top: 20px;
    border-bottom: 1px solid #e5e5e5;

}

.mid-div {
    display: flex;
    border-bottom: 1px solid #e5e5e5;
    flex-direction: column;
    height: 120px;
}

.sign-in-text {
    margin-left: 25px;
    line-height: 20px;
    width: 160px;
    margin-top: 16px;
}

.sign-in-button-blue {
    display: flex;
    width: 95px;
    border-radius: 999px;
    height: 35px;
    align-items: center;
    justify-content: space-between;
    margin-left: 25px;
    border: 1px solid #e5e5e5;
    background-color: white;
    margin-top: 12px;
}

.sign-in-text-blue {
    margin-right: 12px;
}

.explore {
    margin-left: 19px;
    margin-top: 18px;
    margin-bottom: 17px;
    font-size: 16px;
}